{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />

    <link rel="stylesheet" href="{% static '' %}css/styles.css" />
    <link rel="icon" type="img/x-icon" href="{% static '' %}img/logo3.jpeg" />
    <title>24/7 wardrobe</title>
  </head>

  <!-- <style>
    .myModal {
      position: fixed;
      background-color: white;
      top: 0;
      height: 200px;
      z-index: 9999;
      opacity: 0;
      pointer-events: none;
    }
  </style> -->

  <body>
    <!-- <div id="myModal" class="myModal">fgfgfgsgsgsgs</div>

    <button
      style="margin-top: 600px; background: red; padding: 15px"
      id="showme"
    >
      Show
    </button> -->
    <!-- carousel -->
    {% block navbar %} {% endblock navbar %}
    <!-- carousel done -->

    <!-- catelog -->
    {% block catelog %} {% endblock catelog %}
    <!-- catelog done -->

    <!-- content -->
    {% block content %} {% endblock content %}
    <!-- content done -->

    <!-- footer -->
    {% block footer %} {% endblock footer %}
    <!-- footer done -->

    <!-- details modal -->
    {% block detail_modal %} {% endblock detail_modal %}
    <!-- details modal done -->

    <!-- signin/signup -->
    {% block signup_signin %} {% endblock signup_signin %}
    <!-- signin/signup done -->

    <!-- cart/checkout/payment/ -->
    {% block cart_checkout %} {% endblock cart_checkout %}
    <!-- cart/checkout/payment/ done small screen -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- <script>
      const modalBtn = document.getElementById("showme");
      var myModal = new bootstrap.Modal(document.getElementById("myModal"));
      modalBtn.addEventListener("click", () => {
        const modall = document.getElementById("myModal");

        modall.style.opacity = 1;
        modall.style.pointerEvents = "auto";
      });
    </script> -->

    <!-- <script src="{% static '' %}js/main.js" defer></script> -->
    <script src="{% static '' %}js/loader.js"></script>
    <script src="{% static '' %}js/login.js"></script>
    <script src="{% static '' %}js/rate.js"></script>
    <script src="{% static '' %}js/second_modal.js"></script>
    <script src="{% static '' %}js/share.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

      

    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.bundle.min.js"></script> -->


    <!-- <script>
      document.addEventListener('DOMContentLoaded', function() {
        const isAuthenticated = "{{ request.user.is_authenticated }}"; // Check if the user is authenticated
        if (isAuthenticated === false) {
          // If the user is not authenticated, open the login modal
          $('#authentication').modal('show'); // Assuming 'authentication' is the ID of your login modal
        }
      });
    </script> -->

    <!-- <script>
      document.addEventListener('DOMContentLoaded', function () {
          // Check if the user is authenticated
          var isAuthenticated = `${{% if user.is_authenticated %}}true{% else %}false{% endif %}`;
      
          // Specify the URL you want to protect
          var protectedUrl = '/your/protected/url/';
      
          // Check if the user is not authenticated and is trying to access the protected URL
          if (!isAuthenticated && window.location.pathname === protectedUrl) {
              // Open the authentication modal
              $('#authentication').modal('show');
          }
      });
      </script>
       -->

       <!-- {% if not user.is_authenticated %}
    <script>
      $(document).ready(function () {
        // Make an AJAX request to check if the user is authenticated
        $.ajax({
          url: '{% url "userLogin" %}',
          method: "GET",
          success: function (data) {
            if (!data.authenticated) {
              $("#authentication").modal("show");
            }
          },
        });
      });
    </script>
    {% endif %} -->

    <!-- <script type="text/javascript">
      window.onload = function() {
          // Check the value of 'show_modal' passed from the view
          if ("{{ show_modal }}" === "True") {
              // If 'show_modal' is true, trigger the button that opens the modal
              document.getElementById('#authentication').click();
          }
      };
  </script> -->


  <!-- 
    {% if not user.is_authenticated %}
    <script>
      $(document).ready(function () {
        $("#authentication").modal("show");
      });
    </script>
    {% endif %} -->


    <!-- {% if not user.is_authenticated %}
    <script>
      $(document).ready(function () {
        // Make an AJAX request to check if the user is authenticated
        $.ajax({
          url: '{% url "userLogin" %}',
          method: "GET",
          success: function (data) {
            if (!data.authenticated) {
              $("#authentication").modal("show");
            }
          },
        });
      });
    </script>
    {% endif %} -->
  </body>
  </body>
</html>
