<!-- footer -->
<div class="footer mt-5 p-3">
  <div class="container-fluid pb-5">
    <div class="row justify-content-center gy-3">
      <div class="col-10 col-md-5">
        <h6 class="text-uppercase">Contact US</h6>
        <ul class="list-unstyled">
          <li class="mb-3">
            <span class="pe-2"><i class="fa-solid fa-phone"></i></span>
            <span><a href="tel:+234 814 535 8129">08145358129</a></span>
          </li>
          <li class="mb-3">
            <span class="pe-2"><i class="fa-solid fa-envelope"></i></span>
            <span
              ><a href="mail:247wardrobe@gmail.com"
                >247wardrobe@gmail.com</a
              ></span
            >
          </li>
        </ul>

        <div class="mt-2">
          <span class="pe-2"><i class="fa-solid fa-location-dot"></i></span>
          <span> Lagos state, Nigeria.</span>
        </div>
      </div>
      <div class="col-10 col-md-5">
        <h6>Signup for discount and updates</h6>
        <form action="">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control p-3"
              placeholder="Enter your phone number or email address"
              aria-label="Enter your phone number or email address"
              aria-describedby="button-addon2"
            />
            <button
              class="btn foot p-3 btn-outline-danger"
              type="button"
              id="button-addon2"
            >
              Sign up
            </button>
          </div>
        </form>
        <div class="help pt-2">
          <a href="">About Us</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer2 border-top pt-3">
    <p>2023. Powered By Auracule &#128154;</p>
  </div>
</div>
<!-- footer done -->